<html>

<head>
  <title>Guest Book</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/guestbookStyle.css">
</head>

<body>
  <div class="page-wrapper">
    <header>
      <h2><a href="./index.html">&lt;&lt;</a>&nbsp;Guest Page</h2>
      <span class="logout"><a href="/logout">logout</a></span>
    </header>

    <h3>Leave a comment</h3>
    <form action="add-comment" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div>
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment" cols="20" rows="5" required></textarea>
      </div>

      <div class="submit">
        <input type="submit" value="Submit">
      </div>

      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Command</th>
          </tr>
        </thead>
        __BODY__
      </table>
    </form>
  </div>
</body>

</html>