<html>

<head>
  <title>Guest Book</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/guestbookStyle.css">
  <script src="/script/guestbookScript.js"></script>
</head>

<body>
  <div class="page-wrapper">
    <header>
      <h2><a href="./index.html">&lt;&lt;</a>&nbsp;Guest Page</h2>
      <span class="logout"><a href="/logout">logout</a></span>
    </header>

    <h3>Leave a comment</h3>
    <form id="form" action="add-comment" method="POST">
      <label for="username">Name:__USERNAME__</label>
      <div>
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment" cols="20" rows="5" required></textarea>
      </div>
    </form>

    <div class="submit">
      <button>Submit</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Command</th>
        </tr>
      </thead>
      __BODY__
    </table>
  </div>
</body>

</html>