<html>

<head>
  <title>Sign-up page</title>
  <link rel="stylesheet" href="./css/loginPageStyle.css">
</head>

<body>
  <div class="page-wrapper">
    <header>
      <h2>Sign up</h2>
    </header>

    <form action="/signup" method="POST">
      <div>
        <label for="name">Username</label>
        <input type="text" name="username" id="name" placeholder="Enter name">
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter password">
      </div>

      <div class="login-button">
        <input type="submit" value="Sign up">
      </div>
    </form>

  </div>
</body>

</html>