body {
  width: 960px;
  margin: auto;
}

header>h2 {
  margin: 0px;
}

div {
  margin-top: 20px;
}

td {
  width: 200px;
  border: 2px solid aliceblue;
  border-collapse: collapse;
}

table>tbody>tr:nth-child(even) {
  background-color: antiquewhite;
}

.logout>a {
  text-decoration: none;
  float: right;
}

.username {
  font-size: 30px;
}