header {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: burlywood;
}

.page-wrapper>header>h2 {
  border-bottom: 1px solid black;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.content>img {
  width: 1000px;
}